<h1><%= @user.name %>さんの気に入り一覧</h1>
<div class="row">
	<% @favorites.each do |favorite| %>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<% message = Message.find(favorite.message_id) %>
			<%= image_tag message.image.url %>
			<div class="caption">
				<h4>投稿者</h4>
				<p><%=message.user.name%></p>
				<h4>内容</h4>
				<p><%=message.content%></p>
			</div>
		</div>
	</div>
	<% end %>
</div>